@import './../../vendor/_varibles.scss';

.cart {
  display: flex;
  justify-content: center;
  max-width: 1920px;
  width: 100%;
  min-height: 100vh;
  padding: 90px 0 0;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: $background-white;
}

.products {
  display: flex;
  flex-direction: column;
  padding: 50px 125px 80px 165px;
  border-right: $border-main;

  &__list {
    padding: 60px 0 30px;
    width: 915px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }

  &__total {
    padding-top: 30px;
    border-top: $border-main;
  }

  &__totalTitle {
    @include text(
      $font-medium-24,
      $weight-600,
      $line-height-medium-24,
      $color-gray-text
    );
  }

  &__totalContainer {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }

  &__count {
    @include text(
      $font-medium-24,
      $weight-300,
      $line-height-medium-24,
      $color-gray-text
    );
  }

  &__sum {
    @include text($font-h2-36, $weight-600, $line-height-h2, $color-gray-text);
  }
}

/* стили меньше 1024px */
@media screen and (max-width: 1023px) {
}

/* стили меньше 480px */
@media screen and (max-width: 480px) {
  .cart {
    background-color: inherit;
    padding: 114px 15px 50px;
    flex-direction: column;
  }
  .products {
    padding: 25px 20px;
    border-right: none;
    border-radius: 20px;
    background-color: $background-white;
    box-shadow: $box-shadow-main;
    &__list {
      padding: 0;
      width: 100%;
      row-gap: 20px;
    }
    &__total {
      padding-top: 50px;
    }
    &__totalTitle {
      @include text(
        $mobile-font-32,
        $weight-500,
        $mobile-lh-32,
        $color-gray-text
      );
    }
    &__totalContainer {
      margin-top: 30px;
    }
    &__count {
      @include text(
        $mobile-font-14,
        $weight-300,
        $mobile-lh-small-14,
        $color-gray-text
      );
    }
    &__sum {
      margin-bottom: 20px;
      @include text(
        $mobile-font-24,
        $weight-500,
        $mobile-lh-24,
        $color-gray-text
      );
    }

    &__containerFixedButtonMobile {
      position: absolute;
      top: 555px;
      left: 0;
      width: 100%;
      padding: 15px 35px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      background-color: $background-white;
      box-shadow: $box-shadow-category;
    }
    &__fixedButtonMobile {
      padding: 4px 15px;
      border-radius: 10px;
      min-height: 40px;
      width: 100%;
      text-align: center;
      @include text(
        $mobile-font-14,
        $weight-500,
        $line-height-small-14,
        $color-button-text
      );
      cursor: pointer;
      border: none;
      background-color: $background-color-button-default;
      &:hover {
        background-color: $background-color-button-hover;
      }
      &:active {
        background-color: $background-color-button-pressed;
      }
      &_link {
        @include text(
          $mobile-font-14,
          $weight-500,
          $line-height-small-14,
          $color-button-text
        );
      }
      &_count {
        text-align: center;
        @include text(10px, $weight-400, 12.5px, #f8fafc);
      }
    }

    &__textMobile {
      text-align: center;
      @include text(10px, $weight-400, 12.5px, $color-blue-dark-title);
    }
    &__buttonMobile {
      margin: 10px 0 0;
      padding: 11px 15px;
      border-radius: 10px;
      min-height: 40px;
      width: 100%;
      text-align: center;
      @include text(
        $mobile-font-14,
        $weight-500,
        $line-height-small-14,
        $color-button-text
      );
      cursor: pointer;
      border: none;
      background-color: $background-color-button-default;
      &:hover {
        background-color: $background-color-button-hover;
      }
      &:active {
        background-color: $background-color-button-pressed;
      }
      &_link {
        @include text(
          $mobile-font-14,
          $weight-500,
          $line-height-small-14,
          $color-button-text
        );
      }
    }
  }
}
