/* @import '../../vendor/varibles';

.profileNavigation {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__profileContainer {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  &__image {
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }

  &__name {
    margin: 20px 0 0;
    text-align: center;
    @include text(
      $font-h2-36,
      $weight-600,
      $line-height-normal,
      $color-blue-dark-title
    );
  }

  &__navigation {
    margin: 80px 0 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__link {
    margin: 0;
    display: flex;
    text-decoration: none;
  }

  &__icon {
    width: 24px;
    height: 24px;
    margin: 0 15px 0 0;
  }

  &__textLink {
    margin: 0;
    @include text(
      $font-medium-24,
      $weight-300,
      $line-height-normal,
      $color-blue-dark-title
    );
  }

  &__textLink_activ {
    @include text(
      $font-medium-24,
      $weight-600,
      $line-height-normal,
      $color-blue-dark-title
    );
  }
}
 */
