@import '../../vendor/varibles';

.change {
  &__success {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 391px;
    border-radius: 20px;
    padding: 40px;
    @include shadowBackground($background-white, $box-shadow-main);
  }

  &__picture {
    width: 130px;
    height: 130px;
    margin-bottom: 20px;
  }

  &__title {
    text-wrap: nowrap;
    @include text(
      $font-medium-24,
      $weight-300,
      $line-height-medium-24,
      $color-blue-dark-title
    );
  }

  &__button {
    margin-top: 63px;
    border: none;
    border-radius: 15px;
    padding: 10px 24px;
    background-color: $background-color-button-default;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
    cursor: pointer;
    @include text(
      $font-medium-button-24,
      $weight-400,
      $line-height-medium-24,
      $color-button-text
    );
    &:hover {
      background-color: $background-color-button-hover;
    }
    &:active {
      background-color: $background-color-button-pressed;
    }
  }

  &__fieldset {
    position: relative;
    margin-bottom: 33px;
    border: none;
    padding: 0;
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__subtitle {
    margin-left: 10px;
    @include text(
      $font-small-14,
      $weight-300,
      $line-height-small-14,
      $color-blue-dark-title
    );
  }

  &__input {
    width: 100%;
    margin-top: 5px;
    padding: 16px 20px;
    outline: none;
    @include text(
      $font-small-14,
      $weight-300,
      $line-height-small-14,
      $color-blue-dark-title
    );
    @include input($border-main, $background-bots-main);
    &:focus {
      @include input($border-active, $background-bots-main);
    }
    &::placeholder {
      color: $color-blue-input-text;
    }   
  }

  &__buttonView {
    position: absolute;
    top: 37px;
    right: 20px;
    width: 20px;
    height: 20px;
    border: none;
    background: transparent center no-repeat;
    transition: background-image 0.3s ease;
    &_close {
      background-image: url(../../images/eyes-close-password-min.svg);
      &:hover {
        background-image: url(../../images/eyes-close-password-state-hover-min.svg);
      }
      &:active {
        background-image: url(../../images/eyes-close-password-state-pressed-min.svg);
      }
    }
    &_open {
      background-image: url(../../images/eyes-open-password-min.svg);
      &:hover {
        background-image: url(../../images/eyes-open-password-state-hover-min.svg);
      }
      &:active {
        background-image: url(../../images/eyes-open-password-state-pressed-min.svg);
      }
    }
  }

  &__error {
    margin: 5px 0 0 10px;
    @include text(
      $font-small-14,
      $weight-300,
      $line-height-small-14,
      $color-red-errors
    );
  }

  &__buttonСancel {
    order: 2;
    width: 100%;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    padding: 10px 18px;
    background-color: inherit;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
    cursor: pointer;
    @include text(
      $font-medium-button-24,
      $weight-400,
      $line-height-medium-24,
      $background-color-button-default
    );
    &:hover {
      color: $background-color-button-hover;
    }
    &:active {
      color: $background-color-button-pressed;
    }
  }
}
