@import './../../vendor/_varibles';

.register {
  &__subtitle {
    margin-left: 10px;
    @include text(
      $font-small-14,
      $weight-300,
      $line-height-small-14,
      $color-blue-dark-title
    );
  }

  &__input {
    width: 100%;
    margin-top: 5px;
    padding: 16px 20px;
    outline: none;
    @include text(
      $font-small-14,
      $weight-300,
      16px,
      $color-blue-dark-title
    );
    @include input($border-main, $background-input);
    &:focus {
      @include input($border-active, $background-input);
    }
    &::placeholder {
      color: $color-blue-input-text;
    }
  }

  &__error {
    margin: 5px 0 0 10px;
    @include text(
      $font-small-14,
      $weight-300,
      $line-height-small-14,
      $color-red-errors
    );
    &:last-of-type {
      margin-bottom: 40px;
    }
  }

  &__fieldset {
    position: relative;
    margin-bottom: 33px;
    border: none;
    padding: 0;
    &:last-of-type {
      margin-bottom: 63px;
    }
  }

  &__viewPassword {
    position: absolute;
    width: 20px;
    height: 20px;
    background: url('../../images/eye.svg');
    top: 38px;
    right: 20px;
  }

  &__input:focus + &__viewPassword {
    background: url('../../images/eye-focus.svg');
  }

  &__viewPasswordOn {
    position: absolute;
    width: 20px;
    height: 20px;
    background: url('../../images/eye-off.svg');
    top: 38px;
    right: 20px;
  }

  &__input:focus + &__viewPasswordOn {
    background: url('../../images/eye-off-focus.svg');
  }
}
