@import '../../vendor/_varibles';

.reset {
  &__subtitle {
    margin-left: 10px;
    @include text(
      $font-small-14,
      $weight-300,
      $line-height-small-14,
      $color-blue-dark-title
    );
  }

  &__input {
    width: 100%;
    margin-top: 5px;
    padding: 16px 20px;
    outline: none;
    @include text(
      $font-small-14,
      $weight-300,
      16px,
      $color-blue-dark-title
    );
    @include input($border-main, $background-bots-main);
    &:focus {
      @include input($border-active, $background-bots-main);
    }
    &::placeholder {
      color: $color-blue-input-text;
    }
  }

  &__error {
    margin: 5px 0 0 10px;
    @include text(
      $font-small-14,
      $weight-300,
      $line-height-small-14,
      $color-red-errors
    );
  }
}
