.reset {
  max-width: 455px;
  margin: 218px auto 223px;
  border-radius: 20px;
  padding: 40px;
  background-color: #fff;
  border: 1px solid red;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__containerLogo {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
  }

  &__buttonLogo {
    display: flex;
    width: 24px;
    height: 24px;
    margin: 10px;
    border: none;
    background-color: inherit;
    background-image: url(../../images/back-left-lg-min.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

  &__buttonLogo:hover {
    background-image: url(../../images/back-left-lg-hover-min.svg);
  }

  &__buttonLogo:active {
    background-image: url(../../images/back-left-lg-pressed-min.svg);
  }

  &__logoLink {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 15px 0 22px;
    text-decoration: none;
    background-image: url(../../images/logo-min.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

  &__logoLink:hover {
    background-image: url(../../images/logo-state-hover-min.svg);
  }

  &__logoLink:active {
    background-image: url(../../images/logo-state-pressed-min.svg);
  }

  &__logoTitle {
    margin: 0;
    color: #183357;
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__formTitle {
    margin-bottom: 20px;
    color: #183357;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
  }

  &__formSubtitle {
    width: 100%;
    margin-left: 10px;
    color: #183357;
    font-weight: 300;
    font-size: 14px;
    line-height: 17.5px;
  }

  &__formInput_container {
    margin-bottom: 20px;
  }

  &__formInput {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    border-radius: 10px;
    padding: 16px 20px;
    outline: none;
    color: #183357;
    font-weight: 300;
    font-size: 14px;
    line-height: 17.5px;
    background-color: #d3e2f7;
  }

  ::-webkit-input-placeholder {
    color: #84a7d5;
  }
  :-moz-placeholder {
    color: #84a7d5;
  }
  ::-moz-placeholder {
    color: #84a7d5;
  }
  :-ms-input-placeholder {
    color: #84a7d5;
  }

  &__formInput_filled {
    box-sizing: border-box;
    border: 1px solid #d3e2f7;
    background-color: #f8fafc;
  }

  &__formInput_number {
    width: 53px;
    height: 50px;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px 20px;
  }

  &__formInput_number:not(:last-of-type) {
    margin-right: 10px;
  }

  &__formInput_error {
    width: 100%;
    margin-bottom: 20px;
    margin-left: 10px;
    color: #e44f2f;
    font-weight: 300;
    font-size: 14px;
    line-height: 17.5px;
  }

  &__formButton_disabled {
    width: 100%;
    border: none;
    border-radius: 15px;
    padding: 10px 0;
    color: #f8fafc;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    background-color: #9cbdea;
    cursor: pointer;
  }

  &__formButton {
    width: 100%;
    border: none;
    border-radius: 15px;
    padding: 10px 0;
    color: #f8fafc;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    background-color: #3b7dd6;
    cursor: pointer;
  }

  &__formButton:hover {
    background-color: #2f5e9d;
  }

  &__formButton:active {
    background-color: #183357;
  }

  &__formButton_continue {
    margin-bottom: 20px;
  }

  &__timeout {
    width: 100%;
  }

  &__timeoutButton {
    width: 100%;
    border: none;
    padding: 10px 18px;
    color: #3b7dd6;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    background-color: inherit;
    cursor: pointer;
  }

  &__timeoutButton_disable {
    width: 100%;
    border: none;
    padding: 10px 18px;
    padding: 10px 0;
    color: #9cbdea;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    background-color: inherit;
    cursor: pointer;
  }
}
