@import './../../vendor/_varibles';

.botsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $background-white;
}

.bots {
  padding: 40px 165px 0 165px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: flex-start;

  &__moreBtn {
    align-self: center;
    width: 273px;
    height: 50px;
    border: none;
    margin-top: 60px;
    background-color: $background-white;
    cursor: pointer;
    @include text(
      $font-medium-24,
      $weight-400,
      $line-height-medium-24,
      $color-blue-text
    );
    &_hidden {
      display: none;
    }

    &:hover {
      color: $background-color-button-hover;
    }
    &:active {
      color: $background-color-button-pressed;
    }
  }
}

.emptyList {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 0;
  @include text(
    $font-medium-24,
    $weight-400,
    $line-height-medium-24,
    $color-blue-text
  );
}

/* стили меньше 480px */
@media screen and (max-width: 480px) {
  .botsContainer {
    padding: 0 15px;
    background-color: inherit;
  }
  .bots {
    border-radius: 20px;
    padding: 15px;
    background-color: $background-white;
    box-shadow: $box-shadow-main;
    gap: 19px;
    &__backUpBtn {
      border: none;
      width: 40px;
      height: 40px;
      margin-top: 50px;
      background-color: #d3e2f7;
      border-radius: 100px;
      background: url(../../images/images-for-mobile/buttonUpMain/buttonUpMain.svg)
        no-repeat center;
    }
  }
}
