body {
  width: 100%;
  max-width: 1920px;
  height: 100vh;
  margin: 0 auto;
  background: url(../../images/Background.jpg) no-repeat center center fixed;
  background-size: cover;
}

h1,
h2,
h3,
h4,
p,
span,
ul,
ol,
li,
a,
div,
figure,
fieldset,
input,
main,
section,
button {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
}

.content {
  flex: 1;
}
