.change {
  max-width: 455px;
  margin: 218px auto 223px;
  border-radius: 20px;
  padding: 40px;
  background-color: #fff;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__containerLogo {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  &__logoLink {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 15px 0 22px;
    text-decoration: none;
    background-image: url(../../../images/logo-min.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

  &__logoLink:hover {
    background-image: url(../../../images/logo-state-hover-min.svg);
  }

  &__logoLink:active {
    background-image: url(../../../images/logo-state-pressed-min.svg);
  }

  &__logoTitle {
    margin: 0;
    color: #183357;
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__picture {
    width: 130px;
    height: 130px;
    margin-bottom: 10px;
  }

  &__formTitle {
    margin-bottom: 20px;
    color: #183357;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
  }

  &__formButton {
    width: 100%;
    margin-top: 33px;
    border: none;
    border-radius: 15px;
    padding: 10px 0;
    color: #f8fafc;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    background-color: #3b7dd6;
    cursor: pointer;
  }

  &__formButton:hover {
    background-color: #2f5e9d;
  }

  &__formButton:active {
    background-color: #183357;
  }

  &__formButton_back {
    margin-top: 20px;
  }

  &__buttonLogo {
    display: flex;
    width: 24px;
    height: 24px;
    margin: 10px;
    border: none;
    background-color: inherit;
    background-image: url(../../../images/back-left-lg-min.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

  &__buttonLogo:hover {
    background-image: url(../../../images/back-left-lg-hover-min.svg);
  }

  &__buttonLogo:active {
    background-image: url(../../../images/back-left-lg-pressed-min.svg);
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__formTitle {
    margin-bottom: 20px;
    color: #183357;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
  }

  &__inputContainet {
    position: relative;
    width: 100%;
    margin-bottom: 33px;
  }

  &__inputContainet:last-of-type {
    margin-bottom: 0;
  }

  &__formInput {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 16px 20px;
    outline: none;
    color: #183357;
    font-weight: 300;
    font-size: 14px;
    line-height: 17.5px;
    background-color: #d3e2f7;
  }

  ::-webkit-input-placeholder {
    color: #84a7d5;
  }
  :-moz-placeholder {
    color: #84a7d5;
  }
  ::-moz-placeholder {
    color: #84a7d5;
  }
  :-ms-input-placeholder {
    color: #84a7d5;
  }

  &__formInput_filled {
    box-sizing: border-box;
    border: 1px solid #d3e2f7;
    background-color: #f8fafc;
  }

  &__viewButton {
    width: 20px;
    height: 20px;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    background-color: inherit;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    background-color: transparent;
  }

  &__viewButton_password_close {
    background-image: url(../../../images/eyes-open-password-min.svg);
  }

  &__viewButton_password_close:hover {
    background-image: url(../../../images/eyes-open-password-state-hover-min.svg);
  }

  &__viewButton_password_close:active {
    background-image: url(../../../images/eyes-open-password-state-pressed-min.svg);
  }

  &__viewButton_password_open {
    background-image: url(../../../images/eyes-close-password-min.svg);
  }

  &__viewButton_password_open:hover {
    background-image: url(../../../images/eyes-close-password-state-hover-min.svg);
  }

  &__viewButton_password_open:active {
    background-image: url(../../../images/eyes-close-password-state-pressed-min.svg);
  }

  &__formInput_error {
    width: 100%;
    margin-top: 5px;
    margin-left: 10px;
    color: #e44f2f;
    font-weight: 300;
    font-size: 14px;
    line-height: 17.5px;
  }

  &__formButton_disable {
    width: 100%;
    border: none;
    margin-top: 33px;
    border-radius: 15px;
    padding: 10px 0;
    color: #f8fafc;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    background-color: #9cbdea;
    cursor: pointer;
  }

  &__cancelButton {
    margin-top: 20px;
    width: 100%;
    border: none;
    padding: 10px 18px;
    color: #e44f2f;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    background-color: inherit;
    cursor: pointer;
  }
}
