@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');
@import './vendor/_varibles.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  max-width: 1920px;
  height: 100vh;
  margin: 0 auto;
  background: url(./images/Background.jpg) no-repeat center center fixed;
  background-size: cover;
}
