.banner {
  width: 100%;
  height: 442px;
  position: relative;

  &__carousel {
    position: unset;
  }

  &__dotList {
    display: flex;
    gap: 40px;
    position: absolute;
    bottom: 57px !important;
  }

  &__titlebox {
    height: 442px;
    background-image: url('../../images/banner-background-new.png');
    text-decoration: none;
  }

  &__dot {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    background-color: #fff;

    &_active {
      background-color: #3b7dd6;
    }
  }
}

/* стили меньше 1024px */
@media screen and (max-width: 1023px) {
}

/* стили меньше 480px */
@media screen and (max-width: 480px) {
  .banner {
    min-width: 305px;
    width: 100%;
    min-height: 250px;
    height: 100%;
    margin-bottom: 50px;
    padding: 0 15px;
    border-radius: 10px;
    &__dotList {
      display: none;
    }
    &__dot {
      display: none;
    }
    &__carousel {
      display: flex;
      min-width: 305px;
      width: 100%;
      min-height: 250px;
      height: 100%;
    }
    &__titleboxMobile {
      width: 305px;
      height: 250px;
      background-image: url(../../images/images-for-mobile/banners/banner-sales.svg);
      background-size: cover;
      background-position: center;
      border-radius: 10px;
      margin: 0 15px 0 18px;
    }
  }
}
